/* 
    Theo Neusser
    IDA-P3C
    15.01.2024
    paint.css
*/

html, body{
    height: 100%;
}

body {
    background-color: darkslategray;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: white;
}

